table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: cadetblue;
}

.bomb {
    background-color: darkred;
}

.opened {
    background-color: darkcyan;
}
